@use '../GlobalVariables.scss' as GV;
$width: 200px;
$toggle-width: 24px;
$toggle-height: 50px;

.sticky-anchor {
    position: sticky;
    height: 0;
    top: 0;
    z-index: 1;
}

.sidebar {
    position: relative;
    width: $width;
    max-width: calc(100vw - $toggle-width);
    height: 100vh;
    left: -$width;
    transition: left 1s, box-shadow 1s;
    border-right: solid 2px GV.$primary;
    background-color: GV.$primary;
    color: GV.$text-on-dark-colour;
    z-index: 2;

    &.opened {
        left: 0;
        box-shadow: GV.$box-shadow-level-1;

        .toggle>* {
            transform: rotate(180deg);
        }
    }

    .toggle {
        position: absolute;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: $toggle-width;
        right: -$toggle-width;
        height: $toggle-height;
        box-shadow: GV.$box-shadow-level-1;
        top: 20px;
        padding: 0;
        &>svg {
            margin-left: 0;
        }
        * {
            transition: transform 0.5s;
        }
    }
}