$width: 200px;

.sidebar {
    position: absolute;
    width: $width;
    height: 100vh;
    left: -$width;
    transition: left 1s;

    &.opened {
        left: 0;
    }

    .toggle {
        position: absolute;
        right: -50px;
    }
}