@use '../GlobalVariables.scss' as GV;
$width: 200px;

.sidebar {
    position: absolute;
    width: $width;
    height: 100vh;
    left: -$width;
    transition: left 1s;

    &.opened {
        left: 0;
    }

    .toggle {
        position: absolute;
        right: calc(-55px - GV.$button-padding-x - GV.$button-border-width);
    }
}