@use '../GlobalVariables.scss' as GV;
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-container {
        width: 600px;
        display: flex;
        justify-content: space-evenly;
    }
}