@use '../GlobalVariables.scss' as GV;
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: top 0.8s ease-in-out;
    top: 0px;

    &.hidden {
        top: -100vh;
    }
}