$background: #e2e3f5;
$primary: #314075;
$text-colour: #000000;
$text-on-dark-colour: #FFFFFF;
$border-radius: 8px;
$hover-transition-time: 0.1s;
$button-border-width: 2px;
$button-padding-x: 2px;
$button-padding-y: 5px;