.entries {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    button {
        max-width: 150px;
    }
    .entry-container {
        display: flex;
        align-items: center;
        width: calc(100%);
        button {
            position: absolute;
            right: -16px;
        }
        button>svg {
            margin: 0;
        }
    }
}